{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Wortliste</h1>
        <hr class="my-4">
        <p>Hier gibt es Wortlisten aus verschiedenen Themenbereichen, die auf ausgewählte Buchstaben eingeschränkt
            werden können.</p>
    </div>
{% endblock %}